<head>
    <title>{{ if .IsHome }}{{ .Site.Title }}  - {{ .Site.Params.site_description }} {{ else }}{{ .Title }} - {{ .Site.Title }}{{ end }} </title>
    <!--    <link rel='dns-prefetch' href='//fonts.googleapis.com' />  -->
    <link rel='dns-prefetch' href='//s.w.org' />
    <meta charset="UTF-8" />
    <meta name="referrer" content="no-referrer">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="google-site-verification" content="WMYXsHQnqXYhnAFZBhO1ZyOHz8BVbERRCBOC4i2ePcs" />
    <link rel='stylesheet' id='travelify_style-css'  href="{{ .Site.BaseURL }}css/style.min.css" type='text/css' media='all' />
    <link rel='stylesheet' id='google_font_ubuntu-css'  href="{{ .Site.BaseURL }}css/style.min.css" type='text/css' media='all' />

    {{ if and (and (not (eq .Site.DisqusShortname "")) (not .Params.disable_comments)) }}
    <script id="dsq-count-scr" src="https://{{ .Site.Params.privacy.DisqusShortname }}.disqus.com/count.js" async></script>
    {{ end }}
    <script type="text/javascript">
     window._wpemojiSettings = {"baseUrl":"https:\/\/s.w.org\/images\/core\/emoji\/2.2.1\/72x72\/","ext":".png","svgUrl":"https:\/\/s.w.org\/images\/core\/emoji\/2.2.1\/svg\/","svgExt":".svg","source":{"concatemoji":"{{ .Site.BaseURL }}\/js\/wp-emoji-release.min.js"}};
     !function(a,b,c){function d(a){var b,c,d,e,f=String.fromCharCode;if(!k||!k.fillText)return!1;switch(k.clearRect(0,0,j.width,j.height),k.textBaseline="top",k.font="600 32px Arial",a){case"flag":return k.fillText(f(55356,56826,55356,56819),0,0),!(j.toDataURL().length<3e3)&&(k.clearRect(0,0,j.width,j.height),k.fillText(f(55356,57331,65039,8205,55356,57096),0,0),b=j.toDataURL(),k.clearRect(0,0,j.width,j.height),k.fillText(f(55356,57331,55356,57096),0,0),c=j.toDataURL(),b!==c);case"emoji4":return k.fillText(f(55357,56425,55356,57341,8205,55357,56507),0,0),d=j.toDataURL(),k.clearRect(0,0,j.width,j.height),k.fillText(f(55357,56425,55356,57341,55357,56507),0,0),e=j.toDataURL(),d!==e}return!1}function e(a){var c=b.createElement("script");c.src=a,c.defer=c.type="text/javascript",b.getElementsByTagName("head")[0].appendChild(c)}var f,g,h,i,j=b.createElement("canvas"),k=j.getContext&&j.getContext("2d");for(i=Array("flag","emoji4"),c.supports={everything:!0,everythingExceptFlag:!0},h=0;h<i.length;h++)c.supports[i[h]]=d(i[h]),c.supports.everything=c.supports.everything&&c.supports[i[h]],"flag"!==i[h]&&(c.supports.everythingExceptFlag=c.supports.everythingExceptFlag&&c.supports[i[h]]);c.supports.everythingExceptFlag=c.supports.everythingExceptFlag&&!c.supports.flag,c.DOMReady=!1,c.readyCallback=function(){c.DOMReady=!0},c.supports.everything||(g=function(){c.readyCallback()},b.addEventListener?(b.addEventListener("DOMContentLoaded",g,!1),a.addEventListener("load",g,!1)):(a.attachEvent("onload",g),b.attachEvent("onreadystatechange",function(){"complete"===b.readyState&&c.readyCallback()})),f=c.source||{},f.concatemoji?e(f.concatemoji):f.wpemoji&&f.twemoji&&(e(f.twemoji),e(f.wpemoji)))}(window,document,window._wpemojiSettings);
    </script>
    <style type="text/css">
     img.wp-smiley,
     img.emoji {
	 display: inline !important;
	 border: none !important;
	 box-shadow: none !important;
	 height: 1em !important;
	 width: 1em !important;
	 margin: 0 .07em !important;
	 vertical-align: -0.1em !important;
	 background: none !important;
	 padding: 0 !important;
     }
    </style>


    <style type="text/css">
     a { color: #57AD68; }
     #site-title a { color: ; }
     #site-title a:hover { color: ; }
     .wrapper { background: #F8F8F8; }
     .social-icons ul li a { color: #d0d0d0; }
     #main-nav a, #main-nav a:hover,  #main-nav a:focus, #main-nav ul li.current-menu-item a,#main-nav ul li.current_page_ancestor a,#main-nav ul li.current-menu-ancestor a,#main-nav ul li.current_page_item a,#main-nav ul li:hover > a { color: #fff; }
     .widget, article { background: #fff; }
     .entry-title, .entry-title a, .entry-title a:focus, h1, h2, h3, h4, h5, h6, .widget-title  { color: #1b1e1f; }
     a:focus, a:active, a:hover, .tags a:hover, .custom-gallery-title a, .widget-title a, #content ul a:hover,#content ol a:hover, .widget ul li a:hover, .entry-title a:hover, .entry-meta a:hover, #site-generator .copyright a:hover { color: #439f55; }
     #main-nav { background: #57ad68; border-color: #57ad68; }
     #main-nav ul li ul, body { border-color: #439f55; }
     #main-nav a:hover,#main-nav ul li.current-menu-item a,#main-nav ul li.current_page_ancestor a,#main-nav ul li.current-menu-ancestor a,#main-nav ul li.current_page_item a,#main-nav ul li:hover > a, #main-nav li:hover > a,#main-nav ul ul :hover > a,#main-nav a:focus { background: #439f55; }
     #main-nav ul li ul li a:hover,#main-nav ul li ul li:hover > a,#main-nav ul li.current-menu-item ul li a:hover { color: #439f55; }
     .entry-content { color: #1D1D1D; }
     input[type="reset"], input[type="button"], input[type="submit"], .entry-meta-bar .readmore, #controllers a:hover, #controllers a.active, .pagination span, .pagination a:hover span, .wp-pagenavi .current, .wp-pagenavi a:hover { background: #57ad68; border-color: #57ad68 !important; }
     ::selection { background: #57ad68; }
     blockquote { border-color: #439f55; }
     #controllers a:hover, #controllers a.active { color:  #439f55; }
     input[type="reset"]:hover,input[type="button"]:hover,input[type="submit"]:hover,input[type="reset"]:active,input[type="button"]:active,input[type="submit"]:active, .entry-meta-bar .readmore:hover, .entry-meta-bar .readmore:active, ul.default-wp-page li a:hover, ul.default-wp-page li a:active { background: #439f55; border-color: #439f55; }
    </style>
    <style type="text/css" id="custom-background-css">
     body.custom-background { background-image: url("{{ .Site.BaseURL }}images/background.png"); background-position: left top; background-size: auto; background-repeat: repeat; background-attachment: scroll; }
    </style>
    <style type="text/css" media="print">#wpadminbar { display:none; }</style>
    <style type="text/css" media="screen">
     * html body { margin-top: 32px !important; }
     @media screen and ( max-width: 782px ) {
	 html { margin-top: 26px !important; }
	 * html body { margin-top: 26px !important; }
     }
    </style>

    {{ if and (not .Site.Params.privacy.enable) .Site.Params.privacy.GoogleAnalytics }}
    <script>
     (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	 (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
     })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

     ga('create', '{{ .Site.Params.privacy.GoogleAnalytics }}', 'auto');
     ga('send', 'pageview');

    </script>
{{ end }}
</head>
